.wrapper {
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 700;
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 4px;
    background-color: var(--white);
    cursor: pointer;
    border: 1px solid transparent;
    -webkit-user-select: none;
    user-select: none;
    + .wrapper {
        margin-left: 8px;
    }

    //disabled styles
    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}
.icon + .title,
.title + .icon {
    margin-left: 8px;
}
.icon {
    display: inline-block;
    width: 24px;
    text-align: center;
}
//Buton type
.rounded {
    border-radius: 999px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border-color: rgba(22, 24, 36, 0.12);

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        border-color: rgba(22, 24, 35, 0.2);
    }
}
.orange {
    color: var(--white);
    background-color: var(--orange);
    border-color: var(--orange);
    &:hover {
        background: linear-gradient(
                0deg,
                rgba(0, 0, 0, 0.06),
                rgba(0, 0, 0, 0.06)
            ),
            #fec62c;
        border-color: var(--primary);
    }
}
.primary {
    color: var(--white);
    background-color: var(--primary);
    border-color: var(--primary);
    &:hover {
        background: linear-gradient(
                0deg,
                rgba(0, 0, 0, 0.06),
                rgba(0, 0, 0, 0.06)
            ),
            #e45656;
        border-color: var(#e45656);
    }
}
.green {
    color: var(--white);
    background-color: var(--green);
    border-color: var(--green);
    &:hover {
        background: linear-gradient(
                0deg,
                rgba(0, 0, 0, 0.06),
                rgba(0, 0, 0, 0.06)
            ),
            #91fe2c;
        border-color: var(#91fe2c);
    }
}
.outline {
    border-color: var(--primary);
    color: var(--primary);

    &:hover {
        background-color: rgba(254, 44, 85, 0.06);
        border-color: var(--primary);
    }
}
.text {
    &:hover {
        text-decoration: underline;
    }
}

//Button size
.small {
    min-width: 88px;
    padding: 4px 16px;
}
.large {
    min-width: 140px;
    padding: 14px 16px;
}
.bar {
    min-width: 30px;
    height: 30px;
    padding: 0px;
}
