.listUser {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.listUser td,
.listUser th {
    padding: 8px;
}

.listUser tr:nth-child(even) {
    background-color: #f2f2f2;
}

.listUser tr:hover {
    background-color: #ddd;
}

.listUser th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04aa6d;
    color: white;
}
.wallet {
    display: flex;
    flex: 1;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    border: none;
}
.coin {
    background-color: #f5dd0b;
    align-items: center;
    text-align: center;
    width: 50px;
    border-radius: 20%;
}
#listStation {
    tr {
        td {
            .img-place {
                width: auto;
                height: 50px;
            }
            &:last-child {
                display: flex;
            }
        }
    }
}

.sort-icon-up {
    svg {
        transform: rotate(180deg);
    }
}
.avatar-img {
    width: 100px;
    height: auto;
}
